Repository jorge-dev/centisble, changes with the labels that .github/labeler.yml gives for each.
All labels: cmd-pkg, config-pkg, database-pkg, repository-pkg, documentation, handlers-pkg, middleware-pkg, infrastructure, ci, api, tests

.github/labeler.yml:

cmd-pkg:
  - changed-files:
      - any-glob-to-any-file: cmd/**

config-pkg:
  - changed-files:
      - any-glob-to-any-file: internal/config/**

database-pkg:
  - changed-files:
      - any-glob-to-any-file: internal/database/**

repository-pkg:
  - changed-files:
      - any-glob-to-any-file: internal/repository/**

documentation:
  - changed-files:
      - any-glob-to-any-file: "*.md"

handlers-pkg:
  - changed-files:
      - any-glob-to-any-file: server/handlers/**

middleware-pkg:
  - changed-files:
      - any-glob-to-any-file: server/middleware/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: ["Dockerfile", "docker-compose.yml"]

ci:
  - changed-files:
      - any-glob-to-any-file: .github/**

api:
  - changed-files:
      - any-glob-to-any-file: ["openApi.yaml", "server/routes.go"]

tests:
  - changed-files:
      - any-glob-to-any-file: "**/*_test.go"

fix(github): Fix conditional logic in CI workflow for Go file changes
  .github/workflows/ci.yml
Labels: ci

feat(github): Add manual trigger for CI workflow and simplify Go file change checks
  .github/workflows/ci.yml
  .gitignore
Labels: ci

fix(github): Enhance CI workflow with caching for Go build and skip steps on cache hit
  .github/workflows/ci.yml
Labels: ci

chore(deps): Update dependencies for go-chi, go.uber.org/atomic, golang.org/x/crypto, golang.org/x/text, and golang.org/x/sys
  go.mod
  go.sum
Labels: none

feat(docker): Update Dockerfile for production stage and add build/push commands in Makefile
  Dockerfile
  Makefile
  docker-compose.yml
Labels: infrastructure

feat(github): Add GitHub Actions workflow for publishing Docker images on release
  .github/workflows/docker-publish.yml
Labels: ci

fix(github): Update Docker image tag in workflow to use default tag
  .github/workflows/docker-publish.yml
Labels: ci

feat(github): Enhance Docker publish workflow with QEMU and Buildx setup for multi-platform builds
  .github/workflows/docker-publish.yml
Labels: ci

feat(docker): Update Dockerfile and Makefile for multi-platform support and improve docker-compose configuration
  Dockerfile
  Makefile
  docker-compose.yml
Labels: infrastructure

feat(config): Embed banner file and update banner printing logic
  internal/config/config.go
Labels: config-pkg

feat(database): Add initial migration scripts for schema creation and extension management
  internal/database/migrations/0000000000001_init.down.sql
  internal/database/migrations/0000000000002_init.up.sql
Labels: database-pkg

feat(database): Embed migration files and update migration source handling
  internal/database/database.go
Labels: database-pkg

feat(docker): Update Dockerfile and docker-compose configuration for improved image naming
  Dockerfile
  docker-compose.yml
Labels: infrastructure

feat(tests): Add unit test for PrintBannerFromFile and improve error logging in migration source creation
  internal/config/config_test.go
  internal/database/database.go
Labels: config-pkg, database-pkg, tests

feat(routes): Enhance live check response to include version information
  server/routes.go
Labels: api

feat(logger): Implement structured logging with conditional source information
  internal/logger/logger.go
  internal/logger/logger_test.go
Labels: tests

feat(logging): Migrate to structured logging using slog and enhance shutdown logging
  cmd/api/main.go
  cmd/api/main_test.go
Labels: cmd-pkg, tests

feat(logging): Integrate structured logging and add logging configuration support
  internal/auth/jwt.go
  internal/config/config.go
Labels: config-pkg

feat(env): Add LOG_LEVEL configuration to .env-example and docker-compose.yml
  .env-example
  docker-compose.yml
Labels: infrastructure

feat(deps): Add tint v1.0.6 dependency to go.mod and update go.sum
  go.mod
  go.sum
Labels: none
